.pflegemap {

}
.pflegemap-overlay {
  background: black;
  opacity: .5;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:100;
}
.pflegemap-search-animation {
  margin-left: 45%;
  margin-top: 25%;
  color: #4285F4;
  z-index:999;
}
.pflegemap-search-overlay {
  position: absolute;
  background-color: #eeeeee;
  opacity: 0.8;
  position:absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 9990;
}
.pflegemap-message-box{
  position:fixed;
  top:-600px;
  left:30%;
  right:30%;
  background-color:#ffaaaa;
  color:#444;
  padding:20px;
  border:2px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius:20px;
  -khtml-border-radius:20px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  z-index:101;
}
a.pflegemap-message-box-close{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}
.pflegemap-message-box-close:before {
  content: "×";
}
.pflegemap-message-box h1{
  border-bottom: 1px dashed #7F7F7F;
  margin:-20px -20px 0px -20px;
  padding:10px;
  background-color:#FFEFEF;
  color:#EF7777;
  -moz-border-radius:20px 20px 0px 0px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -khtml-border-top-left-radius: 20px;
  -khtml-border-top-right-radius: 20px;
}

.pflegemap-help-box{
  display: none;
  position:fixed;
  top:-1600px;
  left:20%;
  right:20%;
  background-color:#D5FFD5;
  color:#444;
  padding: 10px;
  border:2px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius:20px;
  -khtml-border-radius:20px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  z-index:101;
}
.pflegemap-help-box h1 {
  font-size: 1.2em;
  color: #4285F4;
  border-bottom: 1px dashed #7F7F7F;
  margin:-10px -10px 5px -10px;
  padding: 0px 0px 0px 10px;
  background-color: #aaffaa;
  -moz-border-radius:20px 20px 0px 0px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -khtml-border-top-left-radius: 20px;
  -khtml-border-top-right-radius: 20px;

}
.pflegemap-help-box h2 {
  font-size: 1em;
  color: #235CBB;
  margin: 0px 0px 0px 0px;
}
a.pflegemap-help-box-close{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}
.pflegemap-help-box-close:before {
  content: "×";
}

.pflegemap-header {
  
}
.pflegemap-search-area {

}
.pflegemap-routing-result {
  float:right;
}
.pflegemap-search-toolbox {

}
.pflegemap-routing-option-icon {
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 4px;
  background-color: gray;
  margin: 0.1em;
  padding: 5px;
}
.pflegemap-search-tool-icon {
  width: 28px;
  height: 28px;
  border: 0;
  border-radius: 4px;
  
  background-color: #4285F4;
  margin: 0.1em;
}
.pflegemap-search-tool-icon.fa-lg {
  padding: 0px;
  vertical-align: 0;
}
.pflegemap-search-tool-icon:hover {
  opacity: 0.7;
}
.highlighted {
  background-color: #0245B4 !important;
}

.pflegemap-search-field{
#  display: block;
#  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
#  padding: 5px;
#  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.pflegemap-routing-button {
  width: 9em;
}

.pflegemap-reach-button {
  margin-top: 1em;
}
.pflegemap-search-result-box{
  padding: 4px;
  margin-top: 32px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.pflegemap-reach-result-box{
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.pflegemap-subcategories {
  display: none;
}
.pflegemap-categories label img{
  width: 1.5em;
  vertical-align: bottom;
  float: left;
  margin-right: 10px;
}
.pflegemap-categories label{
  display: block;
  margin-left: 2.5em;
  padding-bottom: 0.5ex;
}
.pflegemap-clear{
  clear: both;
}
.pflegemap-map {
  margin-top: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
#  bottom: 12px;
  height: 510px;
}
.pm-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 0.7em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: 1px solid #ccc;
  bottom: 12px;
  left: -50px;
  min-width: 21em;
  font-size: 1em;
}
.pflegemap-care-service-list {
}
.pm-care-service {
  display: none;
  background-color: #edeae5;
  margin-top: 5px;
  padding: 5px;
  overflow: hidden;
  height: 1%;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.pm-care-service-header {
  color: #3498DB;
  font-size: 120%;
  font-weight: bold;
}
.pm-care-service-content {
  float: left;
  width: 85%;
}
.pm-box {
  float: left;
/*  width: 571px;*/
  margin-right: 1em;
}
.pm-care-service-close:before {
  content: "×";
}
.pm-care-service-close {
  float: right;
/*  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #ddd;*/
}
.pm-care-service-highlighted {
  background-color: cornsilk;
}

.pm-popup:after,
.ol-popup:before 
{
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.pm-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.pm-popup:before {
  border-top-color: #ccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.pm-popup-title {
  font-weight: bold;
}

.pm-angebot .pm-popup-title:before {
  #content: "Pflegeangebot";
}

.pm-suchergebnis .pm-popup-title:before {
  #content: "Suchergebnis";
}

.pm-popup-closer {
  text-decoration: none;
  position: absolute;
  top:   .5ex;
  right: .7em;
}

.pm-popup-closer:after {
  content: "✖";
}

.pm-popup-functions {
  border-top: 1px solid #cccccc;
}

.pm-list-functions {
  border-left: 1px solid #fff;
}

.pm-list-functions>* {
  cursor: pointer;
}

.pm-popup-functions>* {
  visibility: hidden;
  display: none;
  cursor: pointer;
}

.pm-angebot .pm-popup-function-from,
.pm-angebot .pm-popup-function-to {
    visibility: visible;
    display: block;
  }
}

.pm-suchergebnis .pm-popup-function-from,
.pm-suchergebnis .pm-popup-function-to ,
.pm-suchergebnis .pm-popup-function-proximity ,
.pm-suchergebnis .pm-popup-function-reach ,
.pm-suchergebnis .pm-popup-function-clear {
  visibility: visible;
  display: block;
}

.pm-popup-function-more {
  visibility: visible;
	display: block;
  border-top: 1px solid #cccccc;
}

.pm-popup-function-more-content {
	display: none;
	background-color: #eee;
  border-radius: 5px;
	padding-top: 3px;
	max-height: 150px;
	overflow: scroll;
}

.pm-popup-function-proximity-search {
  display: inline-block;
  padding-right: 1.2em;
}

.pm-eingerueckt {
	width: 15px;
	margin-left: 4px;
}

.pflegemap-address-search-box,
.pflegemap-proximity-search-field-reset-icon,
.pflegemap-search-wrapper {
  position: relative;
  padding: 4px;
}

.pflegemap-search-wrapper {
  margin-left: 0px;
  margin-top: 0px;
}

.pflegemap-proximity-search-field-reset-icon {
  background-color: #ffffff;
  position: absolute;
  width: 20px;
  top: 6px;
  height: 20px;
  right: 5px;
  bottom: 0;
  cursor: pointer;
  padding: 4px;
}

hr.pflegemap-hr {
  margin-top: 5px;
  margin-bottom: 0px;
}
.pflegemap-coordinates {
  display: block;
#  width: 70%;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
#  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
}

.pflegemap-routing-search-field{
#  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
#  padding: 5px;
#  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
}

.pflegemap-help {
  
}

#query {
  display: block;
  width: 70%;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
#  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
}
.box{
  display: block;
  width: 70%;
  height: 36px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
#  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
}
.container-4{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
}
.container-4 input#search_{
  width: 100%;
  height: 30px;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #ddd;
  height: 30px;
  width: 30px;
  color: #000;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -30px;
}
.container-4:hover button.icon:hover{
  background: #7b98bc;;
}